/*
[파일 이름] basics.css
[제작 일자] 2019년 03월 30일
[제작자] 악동분홍토끼(pinkrabbit412@daum.net)
[설명] 모든 html에 적용될 CSS입니다. 기본 글 서식 및 디자인 등을 정의하고 있습니다.
*/
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

@font-face {
    font-family: 로컬_나눔스퀘어;
    src: local(※), url(font/NanumSquareR.ttf), format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 로컬_나눔스퀘어;
    src: local(※), url(font/NanumSquareB.ttf), format("truetype");
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: 나눔바른고딕, 나눔스퀘어, NanumSquare, "맑은 고딕","Malgun Gothic", 나눔고딕, "Apple SD Gothic Neo", sans-serif !important; 
}

.hide {
    display: none;
}

.invisible {
    visibility: hidden;
}

a {
    color: #F962AC;
    text-decoration: none;
}
a:hover {
    color: #FCACD3;
    text-decoration: underline;
}

a.outerLink {
    color: #E78112;
    text-decoration: none;
}
a.outerLink:hover {
    color: #E78112;
    text-decoration: underline;
}

hr#footer {
    margin-top: 0%;
}

.toCenter {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.infoBubble {
    background-color: rgba(252, 172, 211, 0.1);
    border: 1px solid #FCACD3;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    padding: 1rem;
	text-align: center;
}


/* 텍스트 서식 모음의 시작 */
.paintDarkPink{
    color: #FCACD3;
    display: inline;
}
.paintDarkPink{
    color: #F962AC;
    display: inline;
}
.clr{
    color: #FCACD3; /*Default Value*/
    display: inline;
}

comment {
    color: olivedrab;
}

del {
    color: gray;
}
/* 텍스트 서식 모음의 끝 */


/* 본문 영역 지정의 시작 */
.ravitArticle {
	text-align: left;
	padding: 2rem;
	margin: 0px auto;
	max-width: 85rem;
	background-color: white;
	margin-bottom: 0px;
}
/* 본문 영역 지정의 끝 */


/* 헤더 영역 서식의 시작 */
li.nav-item {
	margin-right: 1rem;
}
/* 헤더 영역 서식의  */

/* 푸터 영역 서식의 시작 */
footer {
	margin-top: 0px;
	padding-top: 1rem;
	color: aliceblue;
	background-color: #212529;
}
/* 푸터 영역 서식의 끝 */