/*
[파일 이름] basics.css
[제작 일자] 2019년 03월 30일
[제작자] 악동분홍토끼(pinkrabbit412@daum.net)
[설명] 모든 html에 적용될 CSS입니다. 기본 글 서식 및 디자인 등을 정의하고 있습니다.
*/
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

@font-face {
    font-family: 로컬_나눔스퀘어;
    src: local(※), url(font/NanumSquareR.ttf), format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 로컬_나눔스퀘어;
    src: local(※), url(font/NanumSquareB.ttf), format("truetype");
    font-weight: bold;
    font-style: normal;
}

/*반응형 웹 관련 CSS는 어떤 파일이든 무조건 여기에 넣을 것, 차후 다른 파일로 분리하고 !important 태그 싹 다 지워버릴 예정*/
@media (max-width: 500px) {
	.welcomeMessage {
		font-size: 0.85rem;
	}
	.ravitArticle {
		padding: 1.5rem !important;
	}
	
	/*campusMap.html*/
	li button {
		font-size: 0.75rem !important;
	}
	ul#mapImageSelector {
		padding: 0px !important;
	}
	
	/*faq.html*/
	#messages {
		max-width: 100% !important;
		font-size: 0.8rem;
	}
	.ques {
		font-size: 0.8rem !important;
	}
	.ans {
		font-size: 0.8rem !important;
		padding: 1rem !important;
		max-width: 100% !important;
	}
	#classID {
		font-size: 1.25rem !important;
	}

	
	.tbl-list {
		font-size: 0.6rem !important;
	}
	.tg-pv2v, .tg-3rgv {
		padding: 0.1rem !important;
	}
	table {
		width: 100%;
	}
	td {
		font-size: 0.8rem !important;
	}
	th {
		font-size: 0.8rem !important;
	}
	.smallerTable, .smallerTable td, .smallerTable th {
		font-size: 0.65rem !important;
	}
	
	
	ol, ul {
		padding-left: 1rem !important;
	}
	h5 {
		font-size: 1.1rem;
	}
	h4 {
		font-size: 1.2rem;
	}
	h3 {
		font-size: 1.3rem;
	}
	h2 {
		font-size: 1.4rem;
	}
	h1 {
		font-size: 1.5rem;
	}
	body {
		font-size: 0.9rem;
	}
	
	/* 페이지 푸터 */
	footer {
		font-size: 0.7rem;
	}
	footer p {
		font-size: 0.5rem !important;
	}
}

html, body {
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	word-break: keep-all;
}

body {
    font-family: 나눔바른고딕, 나눔스퀘어, NanumSquare, "맑은 고딕","Malgun Gothic", 나눔고딕, "Apple SD Gothic Neo", sans-serif !important; 
}

.hide {
    display: none;
}

.invisible {
    visibility: hidden;
}

a {
    color: #F962AC;
    text-decoration: none;
}
a:hover {
    color: #FCACD3;
    text-decoration: underline;
}

a.outerLink {
    color: #E78112;
    text-decoration: none;
}
a.outerLink:hover {
    color: #E78112;
    text-decoration: underline;
}

hr#footer {
    margin-top: 0%;
}

.toCenter {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.infoBubble {
    background-color: rgba(252, 172, 211, 0.1);
    border: 1px solid #FCACD3;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    padding: 1rem;
	text-align: center;
}


/* 텍스트 등의 서식 모음의 시작 */
.paintDarkPink {
    color: #FCACD3;
    display: inline;
} 
.paintDarkPink {
    color: #F962AC;
    display: inline;
}
.clr {
    color: #FCACD3; /*Default Value*/
    display: inline;
}
.toCenter {
	text-align: center;
}

comment {
    color: olivedrab;
}

del {
    color: gray;
}
/* 텍스트 서식 모음의 끝 */


/* 본문 영역 지정의 시작 */
.ravitArticle {
	text-align: left;
	padding: 2rem;
	margin: 0px auto;
	max-width: 85rem;
	background-color: white;
	margin-bottom: 0px;
}
/* 본문 영역 지정의 끝 */


/* 헤더 영역 서식의 시작 */
li.nav-item {
	margin-right: 1rem;
}
/* 헤더 영역 서식의  */

/* 푸터 영역 서식의 시작 */
footer {
	margin-top: 0px;
	padding-top: 1rem;
	color: aliceblue;
	background-color: #212529;
}
/* 푸터 영역 서식의 끝 */