/*
[파일 이름] campusMap.css
[제작 일자] 2019년 03월 30일
[제작자] 악동분홍토끼(pinkrabbit412@daum.net)
[설명] campusMap.html에 적용될 CSS입니다.
*/

#mapImage{
    width: 100%;
	margin-top: 1rem;
}

div#mapImageName {
	display: inline;
}

ul#mapImageSelector {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul#mapImageSelector li {
    display: inline;
    margin: 0;
    font-weight: bold;
}

#mapImageSelector button {
	width: 23.5%;
	padding: 0;
	font-size: 1rem;
	margin: 0;
}