/*
[파일 이름] campusMap.css
[제작 일자] 2019년 03월 30일
[제작자] 악동분홍토끼(pinkrabbit412@daum.net)
[설명] campusMap.html에 적용될 CSS입니다.
*/

#mapImage{
    width: 100%;
	max-width: 65rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

div#mapImageName {
	display: inline;
}

ul#mapImageSelector {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul#mapImageSelector li {
    display: inline;
    margin: 0;
    font-weight: bold;
	margin-bottom: 10px; 
}

#mapImageSelector button {
	width: 23.5%;
	max-width: 12rem;
	padding: 0;
	margin-bottom: 5px;
	border: 1px solid #252830;
	font-size: 1.25rem;
}

button > b {
	color: #F962AC;
}

kakaoCampusMap {
	width: 100%;
	text-align: center;
}