/*
[파일 이름] index.css
[제작 일자] 2022년 01월 17일
[제작자] 악동분홍토끼(pinkrabbit412@daum.net)
[설명] index.html에 적용될 CSS입니다.
*/


/* 메인화면 메세지박스 부분 CSS값의 시작 */
.mainMessage{
	background-image: url("../image/schoolImage/univFront_dark.png");
	background-size: cover;
	color: aliceblue;
	border-radius: 0rem;
}
/* 메인화면 메세지박스 부분 CSS값의 끝 */